@import 'font-awesome.min.css';
/* START GENERATED IMPORTS */
@import '../forms/toolbox/index.css';
@import '../directives/gameinfo/index.css';
@import '../directives/icon/index.css';
/* END GENERATED IMPORTS */

@font-face {
  font-family: 'DroidSans';
  src:  url('../fonts/DroidSans.ttf');
}
@font-face {
  font-family: 'DroidSans';
  font-weight: bold;
  src:  url('../fonts/DroidSans-Bold.ttf');
}

*{
  font-family: 'DroidSans', sans-serif;
  white-space: nowrap;
}

.sheet{
  display: flex;
  margin-top: 25px;
}

.column{
  
}

.title{
  font-weight: bold;
  color: white;
  background-color: black;
  text-align: center;
  min-width: 300px;
}
