<!DOCTYPE html>
<html lang="en" ng-app="snesMini">
<head>
  <title>SNES Game List</title>

  <script src="../js/angular.min.js"></script>
  <script>
    function fileSize (bytes, si) {
      let thresh = si ? 1000 : 1024
      if (Math.abs(bytes) < thresh) {
        return bytes + ' B'
      }
      let units = si
        ? ['kB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
        : ['KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'ZiB', 'YiB']
      let u = -1
      do {
        bytes /= thresh
        ++u
      } while (Math.abs(bytes) >= thresh && u < units.length - 1)
      return bytes.toFixed(1) + ' ' + units[u]
    }

    class snesMini {
      constructor ($http) {
        this.snesGames = []

        $http.get('snes.json')
          .then(res => {
            this.snesGames = res.data
          })

        this.totalSize = 0
      }

      showSize (n) {
        return fileSize(n)
      }

      calcTotalSize (e, s) {
        if (e.checked) s = 0 - s
        this.totalSize += s
      }
    }

    let app = angular.module('snesMini', [])
    app.controller('display', ['$http', snesMini])
    
  </script>
</head>
<body ng-controller="display as d">
  <table style="font-family:'Verdana'">
    <tr>
      <td></td>
      <td></td>
      <td style="text-align:right"><div>{{ d.showSize(d.totalSize) }}</div>
    <tr>
      <td></td>
      <td>Game</td>
      <td>Size</td>
    <tr>
    <tr ng-repeat="g in d.snesGames">
      <td><input type="checkbox" ng-model="g.checked" ng-click="d.calcTotalSize(this,g.size)"></td>
      <td>{{ g.name }}</td>
      <td style="text-align:right">{{ d.showSize(g.size) }}</td>
    </tr>
  </tr>
</body>
</html>